<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p><%= @participant.name %>様</p>
    <p><%= @seminar.title %>の参加証明書をお送りいたします</p>
  </body>
</html>
