<h1><i class="fas fa-user-edit">Edite Profile</i></h1>

<%= render 'form', user: @user %>

<%= link_to t('Back'), @user %>
<%= link_to t('Destroy_User'), current_user, method: :delete, data: { confirm: 'Are you sure?' } %>
