<h1><i class="fas fa-user-edit">Edite Profile</i></h1>

<%= render 'form', user: @user %>

<%= link_to 'Back', @user %>
<%= link_to 'Destroy', current_user, method: :delete, data: { confirm: 'Are you sure?' } %>
