<h1 class="page-title"><i class="fas fa-user-edit"><%= t :Edit_Profile %></i></h1>

<%= render "form", user: @user %>

<%= link_to t("Back"), @user %>
<%= link_to t("Destroy_User"), current_user, method: :delete, data: { confirm: 'Are_you_sure?' } %>
