footer
  ul.footer-menus
    li.footer-menu
      | documeyとは
  ul
    li.footer-menu
      | Contact
    li
      = link_to "https://github.com/neko314/documey" do
        i.fab.fa-github
          | GitHub
    li
      = link_to "" do
        i.far.fa-envelope
          | Mail
  li.footer-menu
    | Privacy Policy
  p.footer-contact
    | Copyright © 2018 Kaneko Keiko
