<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>日本キャリア開発協会御中</h1>
      <p>お世話になっております。</p>
      <p>「活動実施報告書」をお送りいたします。</p>
      <p>ご査収のほどよろしくお願い申し上げます。</p>
      <p><%= "#{@user.membership_number} : #{@user.name}" %></p>
  </body>
</html
