html {
  font-size: 16px;
}

body {
  background: $base;
  color: $brown;
  line-height: $standard-line-hight;
}

body, #wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

article {
  padding: $very-wide;
  margin: $very-wide auto;
  display: flex;
  width: 60rem;
  background: white;
  text-align: center;
  flex-flow: column nowrap;
  justify-content: center;
  box-shadow: 0 1px 1px 0 $shadow,
              0 1px 3px 1px $shadow;
}

.page-title {
  font-size: $huge;
  padding: $moderate;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  text-align: left;
}

table {
  text-align: center;
  border-collapse: collapse;
  font-size: $normal;
}

label {
  text-align: left;
  font-weight: bold;
}

.notice{
  background: $success;
  color: $header-footer-text;
  text-align: center;
  font-weight: bold;
}

.alert {
  background: $error;
  color: $header-footer-text;
  text-align: center;
  font-weight: bold;
}
