footer {
  margin-top: auto;
}

.footer-menus {
  height: 5rem;
  display: flex;
  justify-content: center;
  justify-content:  space-around;
}

.footer-contact {
  text-align: center;
  font-size: 0.8rem;
}
