footer {
  margin-top: auto;
  background: $main;
  color: $header-footer-text;
  a {
    color: $header-footer-text;
  }
}

.footer-menus {
  height: 5rem;
  display: flex;
  justify-content: center;
  justify-content:  space-around;
}

.footer-contact {
  text-align: center;
  font-size: 0.8rem;
}
