.forms {
  margin: auto;
  align-content: center;
  text-align: center;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  label {
    margin: auto;
  }
  input {
    width: 30rem;
    margin: $narrow auto;
    line-height: 2rem;
    border: 1px solid $table-line;
    text-align: center;
  }
}

.actions {
  padding: $narrow;
  margin: $wide auto;
  color: header-footer-text;
  background: $accent;
  border: 1px solid $accent;
  border-radius: 1rem;
  font-size: $normal;
  width: 15rem;
}
