.forms {
  align-content: center;
  text-align: center;
}

.form {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.form label {
  width: 10rem;
  text-align: center;
}

.form input {
  width: 30rem;
  margin: $narrow 0;
  margin-left: $wide;
  border: 1px solid $brown;
  text-align: center;
}

.actions {
  align-items: center;
  padding: $narrow;
  margin-top: $wide;
  color: header-footer-text;
  background: $accent;
  border: 1px solid $accent;
  border-radius: 1rem;
  font-size: $large;
}
