.preview {
  background: header-footer-text;
}

.preview::after {
  content: "\A";
  white-space: pre;
}

.preview th,
.preview td {
  border: 1px solid $table-line;
}

.preview th {
  width: 15rem;
}

.send {
  margin: auto;
  .send-btn {
    background: $accent;
    border: 1px solid $accent;
    padding: $narrow;
    margin: $moderate;
    border-radius: 0.5rem;
    color: $header-footer-text;
  }
}
