// セミナー一覧
.seminars th,
.seminars td {
  border: 1px solid $table-line;
  padding: $moderate;
}

// セミナー個別ページ
.title-theme {
  display: flex;
  justify-content: center; 
  flex-flow: column wrap;
  align-items: center;
}

.title-theme th {
  padding-right: $narrow;
  text-align: right;
}

.title-theme td {
  text-align: left;
}

.seminar-info {
  margin-top: $moderate;
  margin-bottom: $very-wide;
}

.date {
  width: 40%
}

.place {
  width: 40%
}

.point {
  width: 20%;
}

.seminar-participants h3{
  font-size: $large;
}


.seminar-participants table {
  margin-top: $very-wide;
  margin-bottom: $very-wide;
}

.seminar-participants th,
.seminar-participants td {
  border: 1px solid $table-line;
  padding: $narrow;
}
