// セミナー一覧
.seminars th,
.seminars td {
  border: 1px solid $table-line;
  line-height: $very-wide;
}

// セミナー個別ページ
.create-mail{
  display: flex;
  justify-content: flex-end;
}

.seminar-info {
  margin-top: $moderate;
  margin-bottom: $very-wide;
  th {
    background: none;
  }
  .date {
    width: 40%
  }
  .place {
    width: 40%
  }
  .point {
    width: 20%;
  }
}

.participant {
  display: flex;
  align-items: baseline;
  h2 {
    font-size: $large;
  }
  .new-participant {
    font-size: $normal;
    padding-left: $moderate;
  }
}

.participants {
  margin: $moderate;
  th, td {
    border: 1px solid $table-line;
  }
}
