$base: #FCFAE8;

$shadow: #F6ECE8;

$main: #F9A80F;

$text: #A03808;

$success: #009977;

$accent: #F96B66;

$error: #F75611;

$header-footer-text: #ffffff;

$table-line: #FB9268;

$table-head: #FFB192;

$link: #3B55DA;
