/*ベースカラー:ベージュ系*/
$beige: #FCFAE8;
$dark-beige: #F7D08A;
/*メインカラー:オレンジ系*/
$light-orange: #F9A80F;
/*アクセントカラー:ブラウン系*/
$brown: #A03808;
$light-brown: #F6ECE8;
$green: #009977;

$pink: #F96B66;

$orange: #F75611;

$white: #ffffff;

