/*ベースカラー:ベージュ系*/
$base: #FCFAE8;
$dark-base: #F7D08A;
/*メインカラー:オレンジ系*/
$main: #F9A80F;
/*アクセントカラー:ブラウン系*/
$brown: #A03808;

$success: #009977;

$accent: #F96B66;

$error: #F75611;

$header-footer-text: #ffffff;

$table-line: #F6ECE8;
