@import "initializers/**/*";

li {
  list-style: none;
}

image {
  float: left;
}

header {
  height: 6rem;
}

.alphabet {
  float: right;
  border: 1px solid black;
  padding: 0 4rem;
  font-size: 2rem;
}

.number {
  height: 7rem;
}
.association {
  text-align: right;
  line-height: 2.5rem;
  font-size: $normal;;
  border-bottom: 1px solid black;
}

.no {
  line-height: 2.5rem;
  font-size: $normal;;
  border-bottom: 1px solid black;
  float: right;
}

.contents {
  border: 1px solid black;
  padding: 2.5rem;
}

.title {
  text-align: center;
  font-size: $normal;;
  font-weight: bold;
}

.subtitle {
  font-size: $normal;;
}

table, th, td {
  font-size: $normal;;
  margin: auto;
  line-height: 3rem;
}

table {
  width: 90%;
}

th {
  width: 40%;
}

td {
  border-bottom: 1px solid black;
}

.create_on {
  border: none;
  text-align: right;
}

footer {
  margin-top: 5rem;
  text-align: left;
  line-height: 2.5rem;
}

.page-break {
  page-break-after: always;

  &:last-child {
    page-break-after: avoid;
  }
}
