@import "initializers/**/*";

li {
  list-style: none;
}

.report {
  width: 210mm;
  height: 297mm;
  padding-top: 5rem;
  margin: auto;
}

.report-header {
  height: 5rem;
  font-weight: bold;
  .kinds {
    float: right;
    .category {
      display: inline;
      position: relative;
      top: 3rem;
      right: 7rem;
      border: 1px solid black;
      font-size: 1rem;
      font-weight: 1000;
      color: gray;
    }
    .alphabet {
      position: relative;
      left: 1rem;
      border: 1px solid black;
      width: 4rem;
      font-family: 'Avenir';
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
    }
  }
  .header-contact {
    position: relative;
    left: 15rem;
    top: 2rem;
    font-size: 1rem;
    font-weight: 900;
    .contact {
      text-align: left;
    }
  }
}

.report-address {
  margin-top: 1rem;
  line-height: 1.5rem;
  .created_on {
    text-align: right;
  }
  .association {
    text-align: left;
  }
}

.report-content {
  text-align:center;
  margin: 0 1rem;
  height: 220mm;
}


.report-title {
  font-size: 1.5rem;
  border-bottom: 1px solid black;
  .subtitle {
    font-size: 1rem;
  }
}

.subtext {
  font-size: 1rem;
  text-align: left;
  margin: 0.5rem 0;
}

.report-table, .report-th, .report-td {
  font-size: 1rem;
  margin: auto;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;
  .report-table {
    width: 100%;
  }
  .report-th {
    width: 20rem;
    background: whitesmoke;
    line-height: 2rem;
  }
  .report-td {
    width: 80%;
  }
  .kana {
    font-size: 0.7rem;
    line-height: 1rem;
    border-bottom: 1px dashed black;
  }
  .participants {
    padding-left: 1rem;
    text-align: left;
    height: 150mm;
  }
}

.report-footer {
  margin: 2rem 1rem;;
  bottom: 0;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2rem;
  color: white; 
  background: black;
  font-weight: bold;
}
