@import "colors";

html {
  background: $orange;
}

li {
  list-style: none;
}

body {
  // max-width: 980px;
  background: $beige;
  color: $brown;
}

/*ヘッダー*/
.logo {
  height: 3rem;
  width: 3rem;
  padding-top: 1rem;
}

#header-nav {
  background: $beige;
  padding: 1rem;
}

.header-menus {
  width: 95%;
  height: 3rem;
  display: flex;
  padding-right: 2rem;
  justify-content: flex-end;
  align-items: center;
  background: $orange;
}

.menu {
  padding: 0 2rem;
  text-align: center;
  a {
    color: $white;
  }
  & :hover {
    color: $salmon;
    background: $brown;
  }
}
/*ここまでがヘッダー */


/*コンテンツ*/

.content{
  padding: 1rem;
}

table {
  border-collapse: collapse;
}
.seminars th, .seminars td{
  border: 1px solid black;
  padding: 1rem;
}
